
.icon-normal:before { content: '\e800'; } /* '' */
.icon-segler:before { content: '\e801'; } /* '' */
.icon-heli:before { content: '\e802'; } /* '' */
.icon-heli_kunst:before { content: '\e803'; } /* '' */
.icon-jet:before { content: '\e804'; } /* '' */